@import '@angular/material/prebuilt-themes/rose-red.css';


html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #fafafa; 
}

.main-container {
  padding: 24px;
}

.content-card {
  max-width: 1200px;
  margin: 0 auto;
}